{% extends 'base/base.html' %}

{% block content %}
    <div id="detail-profile">
        <h1>Profile Details</h1>
        <div class="detail-animal-container">
            <p>First Name: {{ profile.first_name }}</p>
            <p>Last Name: {{ profile.last_name }}</p>
            <p>Age: {{ profile.age }}</p>
            <p>Gender: {{ profile.gender }}</p>
            <a href="{% url 'edit profile' %}">Edit profile</a>
            <a href="{% url 'delete profile' %}">Delete profile</a>
        </div>
    </div>
{% endblock %}