#edit-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#edit-profile .edit-profile-form{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #b1f1ff;
    border-radius: 0.5rem;
}

#edit-profile .edit-profile-form h2{
    font-size: 2rem;
    font-weight: 500;
    border-bottom: 2px solid black;
}

#edit-profile .edit-profile-form label{
    display: block;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 5px;
}

#edit-profile .edit-profile-form input{
    width: 220px;
}

#edit-profile .edit-profile-form select{
    width: 220px;
}

#edit-profile .edit-profile-form button{
    width: 80%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#edit-profile .edit-profile-form button:hover{
    background: linear-gradient(135deg, #9b59b6, #71b7e6);
    transform: scale(1.1);
}

#edit-profile .edit-profile-form a{
    width: 80%;
    border-radius: 5px;
    border: none;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

#edit-profile .edit-profile-form a:hover{
    background: linear-gradient(135deg, #9b59b6, #71b7e6);
    transform: scale(1.1);
}