#list-examinations {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#list-examinations .list-examinations-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#list-examinations h1{
    text-align: center;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

#list-examinations form{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #b1f1ff;
    border-radius: 0.5rem;
}

#list-examinations button{
    margin-top: 1rem;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    margin-bottom: 1rem;
}

#list-examinations button:hover{
    background: linear-gradient(135deg, #9b59b6, #71b7e6);
    transform: scale(1.1);
}


#list-examinations .list-examinations-container .list-examinations-box{
    background-color: #b1f1ff;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin: 1.5rem;
    padding: 1rem;
}

#list-examinations .list-examinations-container .list-examinations-box p{
    text-align: center;
}

#list-examinations .list-examinations-container .list-examinations-box > :last-child{
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem;
    margin: 1rem;
    width: 40%;
    border-radius: 1.5rem;
    color: white;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

#list-examinations .list-examinations-container .list-examinations-box > :last-child:hover{
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    transform: scale(1.1);
}