{% extends 'administration/home_administration.html' %}

{% block admin_content %}
    <div id="admin-animal-list">
    <h1>Animals</h1>
    <form method="get" action="{% url 'admin animal list' %}">
        <input type="text" name="search" placeholder="Search by username or animal name" value="{{ request.GET.search }}">
        <button type="submit">Search</button>
    </form>
    <div class="admin-animal-list-container">
        {% for animal in object_list %}
            <div class="admin-animal-box">
                <p><strong>Name:</strong> {{ animal.name }}</p>
                <p><strong>User:</strong> {{ animal.owner.username }}</p>
                <a href="{% url 'admin animal detail' animal.pk %}">Details</a>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}
