{% extends 'base/base.html' %}

{% block content %}
    <div id="admin-examination-list">
          <h1>Examination List</h1>
          <div class="admin-examination-list-container">
                {% for examination in object_list %}
                    <div class="examination-list-box">
                        <p><strong>User</strong> {{ examination.user.username }}</p>
                        <p><strong>Animal</strong> {{ examination.animal.name }}</p>
                        <p><strong>Date</strong> {{ examination.date }}</p>

                        <a href="{% url 'admin exploration detail' examination.pk %}">Detail</a>
                    </div>
            {% endfor %}
          </div>
    </div>
{% endblock %}
