{% extends 'base/base.html' %}

{% block content %}
    <h1>User List</h1>
    <ul>
        {% for user in users %}
            <li>
                {{ user.username }} - {{ user.email }} - {{ user.groups.first }}
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="hidden" name="user_id" value="{{ user.pk }}">
                    <input type="submit" value="Change Group">
                    <a href="{% url 'admin user detail' user.pk %}">User detail</a>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
