{% extends 'base/base.html' %}

{% block content %}
    <div id="admin-user-list">
          <h1>User List</h1>
          <div class="admin-user-list-container">
            {% for user in users %}
                <div class="user-box">
                    <p>Username: {{ user.username }}</p>
                    <p>Email: {{ user.email }}</p>
                    <a href="{% url 'admin user detail' user.pk %}">Detail</a>
                </div>
            {% endfor %}
          </div>
    </div>
{% endblock %}
