{% extends 'base/base.html' %}

{% block content %}
    <div id="admin-animal-list">
    <h1>Animals</h1>
    <div class="admin-animal-list-container">
        {% for animal in object_list %}
            <div class="admin-animal-box">
                <p><strong>Name:</strong> {{ animal.name }}</p>
                <p><strong>User:</strong> {{ animal.owner.username }}</p>
                <a href="{% url 'admin animal detail' animal.pk %}">Details</a>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}
