{% extends 'administration/home_administration.html' %}

{% block admin_content %}
    <div id="admin-examination-list">
          <h1>Examination List</h1>

        <form method="get" action="{% url 'admin examination list' %}">
            <input type="text" name="search" placeholder="Search by username or animal name" value="{{ request.GET.search }}">
            <button type="submit">Search</button>
        </form>
          <div class="admin-examination-list-container">
                {% for examination in object_list %}
                    <div class="examination-list-box">
                        <p><strong>User</strong> {{ examination.user.username }}</p>
                        <p><strong>Animal</strong> {{ examination.animal.name }}</p>
                        <p><strong>Date</strong> {{ examination.date }}</p>

                        <a href="{% url 'admin examination detail' examination.pk %}">Detail</a>
                    </div>
            {% endfor %}
          </div>
    </div>
{% endblock %}
