{% extends 'administration/home_administration.html' %}

{% block admin_content %}
    <div id="admin-animal-detail">
        <h1>Animal Detail</h1>
        <div class="admin-animal-detail-container">
            <p><strong>Name:</strong> {{ object.name }}</p>
            <p><strong>Species:</strong> {{ object.species }}</p>
            <p><strong>Breed:</strong> {{ object.breed }}</p>
            <p><strong>Age:</strong> {{ object.age }}</p>
            <p><strong>Gender:</strong> {{ object.get_gender_display }}</p>
            <p><strong>Weight:</strong> {{ object.weight }}</p>

            <p><strong>Owner:</strong> <a href="{% url 'admin user detail' object.owner.pk %}">{{ object.owner.username }}</a></p>
        </div>
    </div>
{% endblock %}
