{% extends 'administration/home_administration.html' %}

{% block admin_content %}
    <div id="admin-user-list">
          <h1>User List</h1>
            <form method="get" action="{% url 'admin user list' %}">
                <input type="text" name="search" placeholder="Search by username" value="{{ request.GET.search }}">
                <button>Search</button>
            </form>
          <div class="admin-user-list-container">
            {% for user in users %}
                <div class="user-box">
                    <p>Username: {{ user.username }}</p>
                    <p>Email: {{ user.email }}</p>
                    <a href="{% url 'admin user detail' user.pk %}">Detail</a>
                </div>
            {% endfor %}
          </div>
    </div>
{% endblock %}
