{% extends 'base/base.html' %}

{% block content %}
    <div id="list-examinations">
        <h1>All Saved Animals</h1>
        <div class="list-examinations-container">
            {% for hours in saved_animals %}
                <div class="list-examinations-box">
                    <p><strong>Animal:</strong> <a href="{% url 'detail animal' hours.animal.pk %}">{{ hours.animal.name }}</a></p>
                    <p><strong>User:</strong> <a href="{% url 'detail profile' hours.user.pk %}">{{ hours.user.username }}</a></p>
                    <p><strong>Review Date:</strong> {{ hours.review_date }}</p>
                    <p><strong>Review hour::</strong> {{ hours.review_hour }}</p>
                    <p><strong>Review type:</strong> {{ hours.review_type }}</p>
                    <p><strong>Description:</strong> {{ hours.description }}</p>
                    <a href="{% url 'add examination' hours.user.pk hours.animal.pk %}">Examine</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}